<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted"><p class="text-muted">Powered by <a href="#" style="text-decoration: none;"><span style="color: red;">Slano</span> Framework</a></p></span>
  </div>
</footer>